#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.decks ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 700px;
  margin: 0 auto;
  grid-gap: 1rem;
}

.decks li {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /*width: 80%;*/
  height: 50px;
  padding: 2rem;
  list-style: none;
  border: 1px solid #6c4f4f;
  text-align: center;
  box-shadow: 5px 5px 15px -4px #000;
  border-radius: 5px;
}

.decks li button {
  position: absolute;
  top: 5px;
  right: 5px;

  align-items: center;
  font-size: 0.7rem;
}
